.header {
    background-color: #fff;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0 14px 0;
    }

    &__burger-position {
        display: none;
    }

    &__btn-menu {
    }

    &__logo {
    }

    &__nav {
    }

    &__nav-list {
        display: flex;
        align-items: center;
        margin-right: -8px;
    }

    &__nav-item {
    }

    &__nav-name{
        margin-right: 20px;
        letter-spacing: -0.1px;
    }

    &__nav-avatar {
        margin-right: 13px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:after {
            content:'';
            display: inline-block;
            position: relative;
            top: -2px;
            width: 8px;
            height: 8px;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            transform: rotate(-45deg);
            margin-left: 16px;
            cursor: pointer;
        }
    }

    &__nav-icon-block {
        svg {
            width: 32px;
            height: 32px;
            // margin-right: 17px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
