@import "block/fonts.scss";
@import "helpers/mixins";
@import "helpers/variables";


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: $main-fz;
  font-family: $main-font;
  font-weight: $main-fw;
  line-height: $main-lh;
  background-color: $b-color;
  color: $main-color;

    &.overflow {
        overflow: hidden;
    }
}

@include b(tablet) {
  .overflow {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
   &:hover {
     text-decoration: none;
   }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button,
button:active,
button:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  @include b(600) {
    padding: 0 27px;
  }
}

.wrapper {
  overflow: hidden;
  position: relative;
}



.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 27px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Atlan", sans-serif, Arial;
  background-color: #4dbbb8;
  color: #ffff;
  font-weight: 400;
  cursor: pointer;
  @include trs;


  &--grin {
    background-color: #f4f4f4;
    border: 1px solid #4dbbb8;
    color: #4dbbb8;
    height: auto;
    padding: 9px 0;
    text-transform: none;
  }

  &:hover {
    color: inherit;
  }
}

input[type="search"],
input[type="text"], 
input[type="email"],
input[type="password"],
input[type="number"]
{
  display: block;
  width: 100%;
  height: 43px;
  padding: 16px 0 14px 18px;
  border: 1px solid #424242;
  background: none;
  font-family: inherit;
  color: inherit;
  transition: all 0.1s;
  font-weight: 300;
  @include b(mobile) {
    font-size: 22px;
  }
  &::placeholder {
    color: #424242;
    font-weight: 300;
    font-size: 18px;
    @include b(mobile) {
      font-size: 22px;
    }
  }
}

input[type="search"] {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 17px;
    &:focus {
      box-shadow: none;
    }
}

input[type="file"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 43px;
  border: 1px solid #f4f4f4;
  background: none;
  font-size: 14px;
  text-transform: uppercase;
  font-family: inherit;
  transition: all 0.2s;
  &::placeholder {
    color: #ffffff;
  }
  &:focus {
    border-color: #282b31;
  }
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  display: block;
  width: 100%;
  height: 300px;
  resize: none;
  padding: 16px;
  border: none;
  padding: 16px 0 14px 18px;
  border: 1px solid #424242;
  background: none;
  font-family: inherit;
  font-weight: 300;
  color: inherit;
  transition: all 0.2s;
  @include b(mobile) {
    font-size: 22px;
    padding: 8px 0px 0px 18px;
  }

  &::placeholder {
    color: #424242;
    font-weight: 300;
    @include b(mobile) {
      font-size: 22px;
    }
  }
}

input[type=checkbox] {
  display: none;
  &:checked ~ label::after {
      opacity: 1;
  }
  // &:checked ~ label::before {
  //     background-color: #FF3494;
  // }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  &:before {
      content:'';
      display: inline-block;
      background-color: #424242;
      width: 11px;
      height: 11px;
      margin-right: 8px;
      transition: all .1s;
  }
  &::after {
      content:'';
      position: absolute;
      width: 8px;
      height:5px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg);
      opacity: 0;
      top: 4px;
      left: 2px;
      transition: all .2s;
      display: block;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.main {
  padding: 72px 0 0 533px;
  .container {
    max-width: 826px;
  }
}

@import 'block/form_verif.scss';
@import 'block/header.scss';
@import 'block/tabs.scss';
@import 'block/profile.scss';
@import 'block/checkbox.scss';
@import 'block/news-card.scss';













