<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>


    <div class="wrapper">
        {{> body }}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcf/1.2.3/js/jcf.js" integrity="sha512-4jMtRk+JvvtQBALl5QaOVMoU8qjwfnWVZxTbvU7mpnhGVDOBctvV/x+TiZmgePH4wBv0LefhsU46GvWq7ckGww==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcf/1.2.3/js/jcf.select.js" integrity="sha512-yfjvs9oIEYB/9YXnqSJtaQcfRN9NXfEHYnxHgVoxCqLZKkJ/753JEqzKj001/J8bcyqJZvVlRdWeR1jRNMCLWQ==" crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>
    
</body>

</html>