
$main-color: #3E4056;
$b-color: #F2F2F2;

$main-font: "Open Sans", sans-serif, Arial;
$main-fz: 16px;
$main-fw: 400;
$main-lh: 1.25;


$lightGrey: #F2F2F2;
$grey: #6E6E6E;
$white: #FFFFFF;
$red: #ED5267;
$blue: #1849AB;


